<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super sigma webbsida</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container" id="app">

        <div class="container left">
            <input type="text" id="usernameInput" class="container" placeholder="Användarnamn">
        </div>


        <div class="container" id="chatContainer">
            <p id="chat"></p>
        </div>

        <div class="container left wide">
            <input class="container" type="text" name="" id="messageInput" placeholder="Type your message here...">
        </div>


    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
</body>
</html>


