
html, body {
    height: 100%;
    margin: 0;
    display:flex;

    justify-content: center;
}

h1 {
    margin: 0;
}

#app {
    background-color: darkgray;
    margin: auto;                  /* center horizontally */
    display: flex;

    flex-direction: column;        /* stack children vertically */

    padding: 20px;
    border-radius: 10px;
}

#chat {
    height: 60vh;
    width: 90vw;
    overflow-y: auto;
    overflow-x: auto;

    font-size: 20px;
}
#chatContainer {
    background-color: white;
}

#messageInput {
    width: 100%;
}

input::placeholder {
    color: black;
    opacity: 50%;
}
input {
    font-size: 20px;
}

.container {
    background-color: dimgray;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 0;
}

.container.left {
    align-self: flex-start; /* overrides parent centering */
}
.container.left.wide {
    width: 100%;
    margin: auto;
    padding: 2px;
}